@tailwind base;
@tailwind components;
@tailwind utilities;

/* BLUE THEME FROM SHADCN UI SITE */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  .container {
    @apply max-sm:px-4;
  }
}

/* FULL CALENDAR STYLES */
/* :root {
  --fc-today-bg-color: rgba(230, 244, 255, 1);
} */

/* Toolbar */
.fc-header-toolbar {
  @apply flex-col md:flex-row;

  .fc-toolbar-chunk:first-child > div {
    @apply flex items-center;

    .fc-prev-button {
      @apply order-1 border-none bg-transparent text-foreground focus:ring-0;
    }

    .fc-next-button {
      @apply order-2 border-none bg-transparent text-foreground focus:ring-0;
    }

    .fc-toolbar-title {
      @apply order-3 text-2xl font-normal leading-none tracking-tight;
    }
  }

  .fc-toolbar-chunk:last-child > .fc-button-group {
    @apply h-10 rounded-md bg-muted p-1;

    > button {
      @apply rounded-sm border-none px-3 py-1.5 text-sm font-medium capitalize transition-all focus:ring-0;
    }

    > button[aria-pressed='false'] {
      @apply bg-transparent text-foreground opacity-50;
    }

    > button[aria-pressed='true'] {
      @apply bg-background text-foreground shadow-sm;
    }
  }
}

/* Table */

/* DayGrid */
.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
  @apply !font-normal !text-foreground;
}

.fc-event {
  @apply after:!bg-transparent hover:bg-transparent hover:shadow-none focus:bg-transparent focus:shadow-none;

  .fc-event-title,
  .fc-event-time {
    @apply text-xs !font-normal text-foreground text-opacity-65;
  }
}

.fc-daygrid-block-event,
.fc-timegrid-event {
  @apply cursor-pointer;
  .fc-event-time {
    @apply w-9;
  }
  .fc-event-title,
  .fc-event-time {
    @apply text-xs !font-normal text-foreground;
  }
}

.fc-timegrid-slot-label-cushion,
.fc-list-day-text,
.fc-list-day-side-text {
  @apply text-foreground text-opacity-75;
}

.fc-list-day {
  @apply relative z-10;
}

.fc-event-title-container {
  @apply px-2;
}

/* List */
